<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	 <propertyTester
	    id="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabledTester"
	    type="org.eclipse.emf.ecore.EObject"
	    namespace="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester"
	    properties="conceptEnabled"
	    class="de.dlr.sc.virsat.model.extension.fosd.propertyTester.ConceptEnabledTester">
	  </propertyTester>
	</extension>
	<extension point="de.dlr.sc.virsat.model.edit.ConceptImageContribution">
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.fosd"
		pathToImage="resources/icons/de.dlr.sc.virsat.model.extension.fosd.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.fosd.SubFeatureRelationship"
		pathToImage="resources/icons/SubFeatureRelationship.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.fosd.FeatureTree"
		pathToImage="resources/icons/FeatureTree.gif">
	</conceptImage>
	<conceptImage
		fullQualifiedID="de.dlr.sc.virsat.model.extension.fosd.Feature"
		pathToImage="resources/icons/Feature.gif">
	</conceptImage>
	</extension>
	<extension point="org.eclipse.ui.commands">
	<command
		id="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddSubFeatureRelationship"
		name="Add SubFeatureRelationship">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeatureTree"
		name="Add FeatureTree">
	</command>
	<command
		id="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeature"
		name="Add Feature">
	</command>
	</extension>
	<extension point="org.eclipse.ui.commandImages">
	<image
	      commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddSubFeatureRelationship"
	      disabledIcon="resources/icons/SubFeatureRelationship_disabled.gif"
	      icon="resources/icons/SubFeatureRelationship.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeatureTree"
	      disabledIcon="resources/icons/FeatureTree_disabled.gif"
	      icon="resources/icons/FeatureTree.gif">
	</image>
	<image
	      commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeature"
	      disabledIcon="resources/icons/Feature_disabled.gif"
	      icon="resources/icons/Feature.gif">
	</image>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	<handler
		class="de.dlr.sc.virsat.model.extension.fosd.ui.handler.AddSubFeatureRelationshipHandler"
		commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddSubFeatureRelationship">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.fosd.ui.handler.AddStructuralElementInstanceFeatureTreeHandler"
		commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeatureTree">
	</handler>
	<handler
		class="de.dlr.sc.virsat.model.extension.fosd.ui.handler.AddStructuralElementInstanceFeatureHandler"
		commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeature">
	</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
		     allPopups="false"
		     locationURI="popup:de.dlr.sc.virsat.project.ui.navigator.menu#PopupMenu?after=concepts">
		     <menu
		        id="de.dlr.sc.virsat.model.extension.fosd.menu" 
		        label="Feature-oriented development"
		        icon="resources/icons/de.dlr.sc.virsat.model.extension.fosd.gif"
		        tooltip="Use FOSD concepts for easier spacecraft development.">
		        <separator
		            name="categories"
		            visible="true">
			    </separator>
		        <separator
			        name="structuralElements"
		            visible="true">
			    </separator>
		        <separator
			        name="tools"
		            visible="true">
			    </separator>
		        <separator
		        	name="additions"
		            visible="true">
		    	</separator>
		    	<visibleWhen
					checkEnabled="true">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<test 
								property="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabled"
								value="true" 
								forcePluginActivation="true">
							</test>		
						</iterate>
					</with>
				</visibleWhen>
			</menu>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.fosd.menu?after=categories">
		<command
			commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddSubFeatureRelationship"
			style="push">
			<visibleWhen
				checkEnabled="true">
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<test 
							property="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabled"
							value="true" 
							forcePluginActivation="true">
						</test>		
						<instanceof
							value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
						</instanceof>
					</iterate>
				</with>
			</visibleWhen>
		</command>
		</menuContribution>
		<menuContribution allPopups="false"
			locationURI="popup:de.dlr.sc.virsat.model.extension.fosd.menu?after=structuralElements">
		<command
			commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeatureTree"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		<command
			commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.AddFeature"
			style="push">
			<visibleWhen
				checkEnabled="true">
				 <with
		         	variable="selection">
		          	<iterate
		            	ifEmpty="false"
		                operator="and">
		                <test 
		              		property="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabled"
		              		value="true" 
		              		forcePluginActivation="true">
		                </test>	
		              	<or>
		                	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.structural.StructuralElementInstance">
		                 	</instanceof>
		                 	<instanceof
		                       value="de.dlr.sc.virsat.model.dvlm.Repository">
		                 	</instanceof>
		              	</or>
		           	</iterate>
		           	<and>
		              <count
		                    value="1">
		              </count>
		           </and>
		        </with>
			</visibleWhen>
		</command>
		</menuContribution>
	</extension>
	<extension
	       point="de.dlr.sc.virsat.uiengine.ui.EditorSection">
	    <editorSection
	          id="de.dlr.sc.virsat.model.extension.fosd.ui.Section"
	          topRanking="1000">
	    </editorSection>
	 </extension>	
	<extension point="de.dlr.sc.virsat.uiengine.ui.EditorUiSnippets">
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.fosd.table.uiSnippetSubFeatureRelationship"
		      section="de.dlr.sc.virsat.model.extension.fosd.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.fosd.ui.snippet.UiSnippetTableSubFeatureRelationship">
		</uiSnippet>
		<uiSnippet
		      id="de.dlr.sc.virsat.model.extension.fosd.section.uiSnippetSubFeatureRelationship"
		      section="de.dlr.sc.virsat.model.extension.fosd.ui.Section"
		      snippet="de.dlr.sc.virsat.model.extension.fosd.ui.snippet.UiSnippetSectionSubFeatureRelationship">
		</uiSnippet>
	</extension>
	<!-- Plugin.XML Protected Region Start -->
<extension point="org.eclipse.ui.commands">
				
						<command
							id="de.dlr.sc.virsat.model.extension.fosd.ui.command.Generate"
						    name="Generate Feature Wizard">
						</command>
      <command
            id="de.dlr.sc.virsat.model.extension.fosd.ui.command.Configure"
            name="Configure Feature Wizard">
      </command>
      <command
            id="de.dlr.sc.virsat.model.extension.fosd.ui.command.UpdateFeatureTree"
            name="Update Feature Tree">
      </command>
      <command
			id="de.dlr.sc.virsat.model.extension.fosd.ui.command.Variant"
			name="Generate Variant Wizard">
		</command>
					</extension>
	<extension point="org.eclipse.ui.commandImages">
						<image
						    commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Generate"
							disabledIcon="resources/icons/ProductStructureWizzard_disabled.gif"
							icon="resources/icons/ProductStructureWizzard.gif">
						</image>
      <image
            commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Configure"
            disabledIcon="resources/icons/ProductStructureWizzard_disabled.gif"
            icon="resources/icons/ConfigureProductWizard.gif">
      </image>
	</extension>
					<extension
						point="org.eclipse.ui.menus">       
						<menuContribution
							allPopups="false"
							locationURI="popup:de.dlr.sc.virsat.model.extension.fosd.menu?after=tools">
			      <separator
			            name="de.dlr.sc.virsat.model.extension.fosd.ui.separator1"
			            visible="true">
			      </separator>
							<command
								commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Generate"
								style="push">
								<!--
								<visibleWhen
									checkEnabled="true">
									<with
										variable="selection">
										<iterate
											ifEmpty="false"
											operator="and">
											<test
												forcePluginActivation="true"
												property="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabled"
												value="true">
											</test>
											<instanceof
												value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
											</instanceof>
										</iterate>
									</with>
								</visibleWhen> -->
							</command>
				<command
					commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Variant"
					style="push">
				</command>
       <command
             commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Configure"
             style="push">
          <visibleWhen
                checkEnabled="true">
             <with
                   variable="selection">
                <iterate
                      ifEmpty="false"
                      operator="and">
                   <test
                         forcePluginActivation="true"
                         property="de.dlr.sc.virsat.model.extension.fosd.ui.propertyTester.conceptEnabled"
                         value="true">
                   </test>
                   <instanceof
                         value="de.dlr.sc.virsat.model.dvlm.categories.ICategoryAssignmentContainer">
                   </instanceof>
                </iterate>
             </with>
          </visibleWhen>
       </command>
       <separator
			            name="de.dlr.sc.virsat.model.extension.fosd.ui.separator2"
			            visible="true">
			      </separator>
			      <command
             commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.UpdateFeatureTree"
             style="push">
       			</command>
						</menuContribution>    
					</extension>
					<extension point="org.eclipse.ui.handlers">
						<handler
							class="de.dlr.sc.virsat.model.extension.fosd.ui.handler.GenerateHandler"
							commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Generate">
						</handler>
						 <handler
							class="de.dlr.sc.virsat.model.extension.fosd.ui.handler.UpdateFeatureTreeHandler"
							commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.UpdateFeatureTree">
						</handler>
						<handler
							class="de.dlr.sc.virsat.model.extension.fosd.ui.handler.VariantSelectionHandler"
							commandId="de.dlr.sc.virsat.model.extension.fosd.ui.command.Variant">
						</handler>
					</extension>
     <extension
           point="de.dlr.sc.virsat.project.ui.navigator">
        <DVLMConceptDropAssistant
              class="de.dlr.sc.virsat.model.extension.fosd.ui.dropAdapter.ProductStructureInheritanceDropAdapterAssistant"
              conceptId="de.dlr.sc.virsat.model.extension.fosd">
        </DVLMConceptDropAssistant>
     </extension>
	<!-- Plugin.XML Protected Region End -->
</plugin>
